.idea/
.vscode/
vendor/
bin/
**/.DS_Store
main
output/
temp/
**/tmp
**/coverage.xml
**/coverage.out
**/**.tmp
**/*.cov
**/*.exe
log/
app/**/etc/*.yaml
**/.air.toml
report.xml
report.json
gen.go
coverage.out